---
import { Image } from "astro:assets";
import opcion from "../assets/tu-mejor-opcion.jpg";
import CallActions from "./btns/CallActions.astro";
import { getI18N } from "../i18n/";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";
import Lista from "./Listas/Lista.astro";

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
const translatePath = useTranslatedPath(currentLang);

const i18n = getI18N({ currentLocale: currentLang });

const btn = [
  {
    text: t("nav.btnPrimary"),
    url: "https://wa.me/573006214037?text=Quiero%20Invertir",
    _class: "btn-primary",
  },
];
---

<section class="about">
  <div class="main-container">
    <div class="about__content u-grid">
      <div class="about__text">
        <div class="about__header">
          <h1>{i18n.TU_MEJOR_OPCION.TITLE}</h1>
        </div>

        <div class="about__description">
          <p>{i18n.TU_MEJOR_OPCION.DESCRIPTION}</p>
          <!-- <Lista
            id={1}
            lista={{
              item1: i18n.TU_MEJOR_OPCION.OPCION_LIST.LIST1,
              item2: i18n.TU_MEJOR_OPCION.OPCION_LIST.LIST2,
              item3: i18n.TU_MEJOR_OPCION.OPCION_LIST.LIST3,
            }}
          /> -->
        </div>

        <div class="button-group">
          {
            btn.map((boton) => (
              <CallActions
                text={boton.text}
                url={boton.url}
                _class={boton._class}
              />
            ))
          }
        </div>
      </div>
      <div class="about__image">
        <Image src={opcion} alt="Tu mejor opción" class="about__img" />
      </div>
    </div>
  </div>
</section>

<style>
  .about__content {
    display: grid;
    grid-template-columns: 1fr 45%;
    gap: var(--espacio-xl);
    align-items: center;
  }

  .about__logo {
    margin-left: -5px;
    margin-bottom: var(--espacio-m);
  }

  .about__header h1 {
    font-size: var(--font-4);
    color: var(--color-texto-principal);
    font-weight: var(--peso-bold);
    font-family: var(--Proxima);
    margin: 0;
    line-height: 1.2;
    margin-bottom: var(--espacio-m);
  }

  .about__header p {
    font-size: var(--font-0);
    font-family: var(--Proxima);
    color: var(--color-texto-principal);
    line-height: 1.6;
    margin-bottom: var(--espacio-m);
  }

  .about__description {
    border-top: 1px solid var(--color-gris);
    padding-top: var(--espacio-m);
    margin-bottom: var(--espacio-l);
  }

  .about__description p {
    font-size: var(--font-0);
    font-family: var(--Proxima);
    color: var(--color-texto-principal);
    line-height: 1.6;
    margin-bottom: var(--espacio-m);
  }

  .about__description p:last-child {
    margin-bottom: 0;
  }

  .highlight {
    color: #000;
    font-weight: var(--peso-semibold);
  }

  .about__buttons {
    display: flex;
    gap: var(--espacio-m);
    font-family: var(--Heebo);
  }

  .button-group {
    display: flex;
    gap: 1rem;
    font-family: var(--Heebo);
  }

  .about__image {
    border-radius: 100px 0 0 0;
    overflow: hidden;
  }

  .about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .about__content {
      grid-template-columns: 1fr;
      text-align: center;
      padding-block: var(--espacio-m);
    }

    .about__image {
      display: none;
    }

    .about__buttons {
      flex-direction: column;
    }

    .button {
      text-align: center;
    }
  }
</style>
